<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
  <header>
    <h1>Open Tests</h1>
    <p class="ident">Bring Tests to this day and age</p>
  </header>
</div>
<div id="top-nav-bar">
  <%= link_to 'Sign Up', '#' %>
  <%= link_to 'Sign In', '#'%>
</div>
<div id="wrapper">
  <nav id="nav">
  <%= link_to 'Home', root_path, :class => 'nav-item' %>
  <%= link_to 'About', about_path, :class => 'nav-item' %>
  <%= link_to 'Contant', contact_path, :class =>'nav-item' %>
  </nav>
  <div id="body-wrapper">
    <div id="body">
      <%= yield %>
    </div>
  </div>
</div>

	  
<div id="footer">
    <p>Copyright &copy; 2011 Open Education</p>
    <p> <%= link_to 'The Code', 'https://github.com/openeducation/Open-Tests/'%> for <%= link_to 'this site', root_path %> <%= link_to 'was released under the GNU GENERAL PUBLIC LICENSE Version 3', 'http://www.gnu.org/licenses/gpl-3.0-standalone.html' %>  
</div>   
</div>

	


</body>
</html>
